doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-QWO80eH8iJ9y6npoT6a06DlXKxFXfPTJtPZFPpIlMqLtqPhj8EW7BNRFsNfCGf5h" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-lZlNhFWSkED0PIa4e0h3Yl1w1KjF6vxlwNiB40X++qFc9Mjj28m5TEbcM8vmUSKs" crossorigin="anonymous")

  body
    block content
