extends layout

block content
  h1 A Random Item

  // Define image array (Unbuffered)
  - var image_names = ["image1.jpg", "image2.jpg", "image3.jpg", "image4.jpg", "image5.jpg"]

  // Loop 3 times to display 3 random images
  - for (let i = 0; i < 3; i++) {
    - let randomIndex = Math.floor(Math.random() * image_names.length);
    - let image = image_names[randomIndex];

    img(src=`/images/${image}` alt=`Random Image ${i+1}` height="300" width="300")
  - }
